<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><span class="name-initials">Employee</span> Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
            <a class="nav-link" routerLink="/addemployee" routerLinkActive="active">Add Employee</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employeelist" routerLinkActive="active">Employee List</a>
        </li>

        <li class="nav-item">
            <a class="nav-link"routerLink="/employeecard" routerLinkActive="active">Employee cards</a>
          </li>

      </ul>
    </div>
  </nav>